---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-100
---
<style>

</style>
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-600 sm:w-full">
      <tr>
          <td>
              <table>
                    <tr>
                      <td>
                          <img style="height:7rem; width:20rem;"src="images/maizzle.png" alt="Maizzle">
                      </td>
                      <td>
                        <div>901 Apacible Cor. Leon Guinto Streets,</div> 
                        <div>Brgy. 676 Zone 073 Ermita Manila</div>
                        <div>Tel Nos.: +632-8521-8999 Fax no.: +632-8521-2490</div>
                        <div>VAT Reg. TIN:  008-944-477-000</div>
                      </td>
                    </tr>
              </table>
          </td>
      </tr>
        <tr>
          <td class="py-32" style="padding-right:10rem;">
            <div class="text-center text-lg font-semibold">Invoice</div>
            <div class="text-center text-lg font-semibold">Joining Fees May 2021</div>
          </td>
        </tr>
        <tr>
            <td>
                  <div class="font-semibold">Mimijoe Manpower and Allied Services</div>
                  <div class="">Agway Warehouse, Km 10, Sasa, 1111, Buenavista, Agusta Del Norte, Mindanao, Philippines</div>
                  <div class="font-semibold">11223444555</div>
            </td>
        </tr>
        <tr>
            <td class="font-semibold">
                Fee Summary
            </td>
            <td class="font-semibold ">
              Amount
            </td>
            <td class="font-semibold">
              Amount
            </td>
          </tr>
          <tr>
            <td>
            <table>
              <div class="font-semibold underline">Fees:</div>
            </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <div>Joining Fees</div>
              </table>
            </td>
            <td class="text-right">
              89,285.71
            </td>
            </tr>
            <tr>
              <td>
                <table>
                  <div>Add: VAT @ 12%</div>
                </table>
              </td>
              <td class=" text-right">10,714.29</td>
              <td></td>
              </tr>
              <tr>
                <td>
                  <table>
                    <div>Total Joining Fees</div>
                  </table>
                </td>
                <td class=" text-right">100,000.00</td>
                <td></td>

                </tr>
                <tr>
                  <td>
                  <table>
                    <div>Less: Witholding tax @ 2%</div>
                  </table>
                  </td>
                  <td class=" text-right">1,785.71</td>
                  <td></td>
                  </tr>
                    <tr>
                      <td>
                      <table>
                        <div class="font-semibold">Net Joining Fees Payable to CMCI</div>
                      </table>
                      </td>
                      <td></td>
                      <td class=" text-right font-semibold">98,214.29</td>
                      
                      </tr>
    </table>
    <div class="flex justify-around">
      <div style="padding-top:10rem;">This is computer generated, no signature required.</div>
      <div></div>
      <div></div>

    </div>

  </block>
</extends>
